// Layout Components

#app {
  min-height: 100dvh;
  z-index: 10;
  position: relative;
  opacity: 1; // Always visible - visibility controlled by loading screen z-index
}

.contain {
  position: relative;
  height: 100vh;
  width: 100vw;
}



